
.sidebar {
    height: 100vh;
    position: fixed;
    top: 56px;
    left: 0;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}
main {
    margin-left: 25%;
}
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    main {
        margin-left: 0;
    }
}
